# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release Package

on:
  push:
    # branches:
    #   - main
    # paths:
    #   - "packages/ui/**"
    # 改用检擦tages版本的方式发布
    tags:
      - "ui-v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      # - name: Check version change
      #   id: check
      #   run: |
      #     git fetch --depth=2
      #     OLD_VERSION=$(git show HEAD^:packages/ui/package.json | jq -r .version)
      #     NEW_VERSION=$(jq -r .version packages/ui/package.json)
      #     echo "old=$OLD_VERSION"
      #     echo "new=$NEW_VERSION"
      #     if [ "$OLD_VERSION" != "$NEW_VERSION" ]; then
      #         echo "changed=true" >> $GITHUB_OUTPUT
      #       else
      #         echo "changed=false" >> $GITHUB_OUTPUT
      #         exit 0
      #     fi
      #  使用：steps.check.outputs.changed == 'true'
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: pnpm install

      - name: Build package
        run: pnpm --filter @zxcore/smart-antd-vue3ui build

      - name: Publish to npm
        run: pnpm --filter @zxcore/smart-antd-vue3ui publish --access public --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
